# Impor libraries yang diperlukan

In [40]:
import requests
import json
from datetime import datetime as dt
import pandas as pd
import time
import numpy as np

# Menandakan kapan pengumpulan data. 
**Hal ini untuk mengantisipasi data yang berubah-ubah tiap saat karena masih ada mitra yang belum upload lowongan magangnya**

In [2]:
curr_time = time.strftime("%Y-%m-%d %H.%M", time.localtime())
 
print(f"Current Time is :({curr_time})")

Current Time is :(2023-01-16 20.02)

In [41]:
curr_time = '2023-01-16 20.02'
file = f'Program Magang Kampus Merdeka Batch 4 ({curr_time}).csv'

# Pengumpulan Data
**Disini saya mengumpulkan data dengan cara menghubungkan variabel url dengan API dari website kampus merdeka**

In [42]:
url = "https://api.kampusmerdeka.kemdikbud.go.id/magang/browse/position?offset=0"

payload={}
files={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload, files=files)

#print(response.text)
result = response.json()['data']

# Menyimpan data mentah yang diambil dari API website kampus merdeka

In [ ]:
data = pd.DataFrame.from_dict(result)
file = f'Program Magang Kampus Merdeka Batch 4 ({curr_time}).csv'
data.to_csv(file,index=False)

# Membersihkan dan mentransformasikan data agar kab/kot dan provinsi tiap lowongan magang dapat di "Join" dengan data poligon provinsi dan kab/kota

## Membuat hanya menampilkan tanggal saja tidak beserta waktu

In [43]:
df = pd.read_csv(file)
# Membuat hanya menampilkan tanggal saja tidak beserta waktu
df['start_duration'] = pd.to_datetime(df['start_duration'].str.replace('T',' ')).dt.date
df['end_duration'] = pd.to_datetime(df['end_duration'].str.replace('T',' ')).dt.date
df['start_registration'] = pd.to_datetime(df['start_registration'].str.replace('T',' ')).dt.date
df['end_registration'] = pd.to_datetime(df['end_registration'].str.replace('T',' ')).dt.date

## Membuat kolom baru untuk kota/kabupaten dan provinsi

In [ ]:
#Membuat kolom baru untuk kota/kabupaten dan provinsi
df['Kab/Kot'] = ''
df['Provinsi'] = ''
df['Tipe Lokasi'] = ''
df['Lokasi'] = ''

df.loc[df['location'].isin(['Kota Jakarta Selatan','Mampang Prapatan, Jakarta Selatan, DKI Jakarta',
                       'Jakarta Selatan']),['Kab/Kot','Provinsi']]= ['Kota Jakarta Selatan','DKI Jakarta']

df.loc[df['location'].isin(['Kota Jakarta Pusat']),['Kab/Kot','Provinsi']]= ['Kota Jakarta Pusat','DKI Jakarta']

df.loc[df['location'].isin(['Kota Jakarta Utara']),['Kab/Kot','Provinsi']]= ['Kota Jakarta Utara','DKI Jakarta']

df.loc[df['location'].isin(['Kota Tangerang','Tangerang, Banten',
                            'Jatake, Tangerang','PT. Pancaprima Ekabrothers'])
       ,['Kab/Kot','Provinsi']]= ['Kota Tangerang','Banten']

df.loc[df['location'].isin(['Kota Jakarta Barat']),['Kab/Kot','Provinsi']]= ['Kota Jakarta Barat','DKI Jakarta']

df.loc[df['location'].isin(['Kota Bandung','Kec. Bandung Kulon, Kota Bandung, Jawa Barat',
                            'Kantor LLDIKTI Wilayah IV  Jl. P.H.H. Mustofa No.38 Bandung']),
       ['Kab/Kot','Provinsi']]= ['Kota Bandung','Jawa Barat']

df.loc[df['location'].isin(['Kab. Berau']),['Kab/Kot','Provinsi']]= ['Kab. Berau','Kalimantan Timur']

df.loc[df['location'].isin(['Kota Yogyakarta','Daerah Istimewa Yogyakarta','Yogyakarta']),
       ['Kab/Kot','Provinsi']]= ['Kota Yogyakarta','DI Yogyakarta']

df.loc[df['location'].isin(['Kab. Sleman']),['Kab/Kot','Provinsi']]= ['Kab. Sleman','DI Yogyakarta']

df.loc[df['location'].isin(['Kota Malang']),['Kab/Kot','Provinsi']]= ['Kota Malang','Jawa Timur']

df.loc[df['location'].isin(['Kab. Tangerang']),['Kab/Kot','Provinsi']]= ['Kab. Tangerang','Banten']

df.loc[df['location'].isin(['Kota Jakarta Timur','Cakung, Jakarta Timur']),
       ['Kab/Kot','Provinsi']]= ['Kota Jakarta Timur','DKI Jakarta']

df.loc[df['location'].isin(['Kota Bontang']),['Kab/Kot','Provinsi']]= ['Kota Bontang','Kalimantan Timur']

df.loc[df['location'].isin(['Kota Tangerang Selatan',
                            'Kota Tangerang Selatan, Banten','Tangerang Selatan']),['Kab/Kot','Provinsi']]= ['Kota Tangerang Selatan','Banten']

df.loc[df['location'].isin(['DKI Jakarta','Jakarta','jakarta']),['Kab/Kot','Provinsi']]= ['Tidak Diketahui','DKI Jakarta']

df.loc[df['location'].isin(['Kota Surakarta']),['Kab/Kot','Provinsi']]= ['Kota Surakarta','Jawa Tengah']

df.loc[df['location'].isin(['Kab. Boyolali']),['Kab/Kot','Provinsi']]= ['Kab. Boyolali','Jawa Tengah']

df.loc[df['location'].isin(['Kab. Gresik']),['Kab/Kot','Provinsi']]= ['Kab. Gresik','Jawa Timur']

df.loc[df['location'].isin(['Kab. Badung']),['Kab/Kot','Provinsi']]= ['Kab. Badung','Bali']

df.loc[df['location'].isin(['Kab. Kotawaringin Timur']),['Kab/Kot','Provinsi']]= ['Kab. Kotawaringin Timur','Kalimantan Tengah']

df.loc[df['location'].isin(['Kota Depok']),['Kab/Kot','Provinsi']]= ['Kota Depok','Jawa Barat']

df.loc[df['location'].isin(['Kab. Bekasi',
                            'Cikarang, Kab. Bekasi, Jawa Barat ']),['Kab/Kot','Provinsi']]= ['Kab. Bekasi','Jawa Barat']

df.loc[df['location'].isin(['Kota Semarang']),['Kab/Kot','Provinsi']]= ['Kota Semarang','Jawa Tengah']

df.loc[df['location'].isin(['Kota Makassar','Makassar']),['Kab/Kot','Provinsi']]= ['Kota Makassar','Sulawesi Selatan']

df.loc[df['location'].isin(['Kota Balikpapan']),['Kab/Kot','Provinsi']]= ['Kota Balikpapan','Kalimantan Timur']

df.loc[df['location'].isin(['Kota Surabaya']),['Kab/Kot','Provinsi']]= ['Kota Surabaya','Jawa Timur']

df.loc[df['location'].isin(['Kota Madiun']),['Kab/Kot','Provinsi']]= ['Kota Madiun','Jawa Timur']

df.loc[df['location'].isin(['Kab. Banyumas']),['Kab/Kot','Provinsi']]= ['Kab. Banyumas','Jawa Tengah']

df.loc[df['location'].isin(['Kota Banda Aceh']),['Kab/Kot','Provinsi']]= ['Kota Banda Aceh','Aceh']

df.loc[df['location'].isin(['Sentul, Bogor',
                            'SEAMEO BIOTROP, Jl. Raya Tajur km 6, Bogor 16134, Jawa Barat, Indonesia',
                            'SEAMEO BIOTROP, Jl. Raya Tajur Km. 6 Bogor 16134, Jawa Barat, Indonesia',
                            'SEAMEO BIOTROP, Jl. Raya Tajur Km 6, Bogor 16134, Jawa Barat, Indonesia',
                            'Kota Bogor'])
       ,['Kab/Kot','Provinsi']]= ['Kota Bogor','Jawa Barat']

df.loc[df['location'].isin(['Mandalika']),['Kab/Kot','Provinsi']]= ['Kab. Lombok Tengah','Nusa Tenggara Barat']

df.loc[df['location'].isin(['Jawa Tengah']),['Kab/Kot','Provinsi']]= ['Tidak Diketahui','Jawa Tengah']

df.loc[df['location'].isin(['Kab. Serang']),['Kab/Kot','Provinsi']]= ['Kab. Serang','Banten']

df.loc[df['location'].isin(['Kab. Dairi']),['Kab/Kot','Provinsi']]= ['Kab. Dairi','Sumatera Utara']

df.loc[df['location'].isin(['Kab. Bogor']),['Kab/Kot','Provinsi']]= ['Kab. Bogor','Jawa Barat']

df.loc[df['location'].isin(['Kota Jayapura']),['Kab/Kot','Provinsi']]= ['Kota Jayapura','Papua']

df.loc[df['location'].isin(['Kota Bekasi']),['Kab/Kot','Provinsi']]= ['Kota Bekasi','Jawa Barat']

df.loc[df['location'].isin(['Kab. Malang']),['Kab/Kot','Provinsi']]= ['Kab. Malang','Jawa Timur']

df.loc[df['location'].isin(['Kota Pekanbaru']),['Kab/Kot','Provinsi']]= ['Kota Pekanbaru','Sumatera Selatan']

df.loc[df['location'].isin(['Sunter, Jakarta Utara & Karawang, Jawa Barat',
                            'Kota Yogyakarta, Kota Tegal, Kota Tangerang, Kota Jakarta Selatan',
                            'Kota Jakarta Selatan, Kota Jakarta Pusat, Kota Bandung',
                            'Kota Balikpapan, Kota Bandung, Jakarta, Jawa Tengah, Yogyakarta',
                            'Kota Jakarta Pusat & 10 Kantor Region Office BSI',
                            'Kota Jakarta Selatan, Kota Bandung',
                            'Indomaret Head Office (Menara PIK) & Indomaret Cabang ',
                            'Banten dan Kalimantan Selatan ',
                            'Sekolah Mitra Jenjang SMA/SMK/SMP Sederajat di Indonesia',
                            'Kota Jakarta, Serang, Bandung, Semarang,Surabaya, Balikpapan, Palembang, Lampung dan Bali',
                            '42 Lokasi Kabupaten/Kota di Indonesia',
                            'All over Indonesia',
                            'Nasional',
                            'Kantor Pusat BPJS Ketenagakerjaan dan Kantor Cabang BPJS Ketenagakerjaan Seluruh Indonesia',
                            'Kab. Karawang', 'Tangerang Selatan', 'Jakarta & Surabaya',
                            'Jakarta & Surabaya',
                            'Sumatera Utara, Jawa Barat, Jawa Timur, Sulawesi Selatan, Sulawesi Tengah',
                            'DKI Jakarta, Jawa tengah, DI Yogyakarta , Sumatera Utara '])
       ,['Kab/Kot','Provinsi']]= ['> 1 Kot/Kab','> 1 Provinsi']

df.loc[df['location'].isin(['Batola dan Banjarmasin Kalimantan Selatan']),
       ['Kab/Kot','Provinsi']]= ['> 1 Kot/Kab','Kalimantan Selatan']

df.loc[df['location'].isin(['Kab. Karawang']),['Kab/Kot','Provinsi']]= ['Kab. Karawang','Jawa Barat']

df.loc[df['location'].isin(['Kab. Sukabumi']),['Kab/Kot','Provinsi']]= ['Kab. Sukabumi','Jawa Barat']

df.loc[df['location'].isin(['Kota Medan']),['Kab/Kot','Provinsi']]= ['Kota Medan','Sumatera Utara']

df.loc[df['location'].isin(['Kab. Pelalawan']),['Kab/Kot','Provinsi']]= ['Kab. Pelalawan','Riau']

df.loc[df['location'].isin(['Cileungsi, Jawa Barat']),['Kab/Kot','Provinsi']]= ['Kab. Bogor','Jawa Barat']

df.loc[df['location'].isin(['Kota Padang']),['Kab/Kot','Provinsi']]= ['Kota Padang','Sumatera Barat']

## Menyesuaikan format kota/kab dan provinsi agar cocok dengan data spatial kota/kab dan provinsi

In [ ]:
lokasi_kab = df['Kab/Kot'].str.contains('Kab. ')
lokasi_kota = df['Kab/Kot'].str.contains('Kota ')
lebih_2kota = df['Kab/Kot']=='> 1 Kot/Kab'
tidak_diketahui_kota = df['Kab/Kot']=='Tidak Diketahui'
df.loc[lokasi_kab,['Tipe Lokasi','Lokasi']] = ['Kabupaten',df[lokasi_kab]['Kab/Kot'].str.lstrip('Kab.')]
df.loc[lokasi_kota,['Tipe Lokasi','Lokasi']] = ['Kota',df[lokasi_kota]['Kab/Kot']]
df['Lokasi'] = df['Lokasi'].str.replace(' ','')
df.loc[lebih_2kota,['Tipe Lokasi','Lokasi']] = ['Kot/Kab',df[lebih_2kota]['Kab/Kot']]
df.loc[tidak_diketahui_kota,['Tipe Lokasi','Lokasi']] = ['Tidak Diketahui',df[tidak_diketahui_kota]['Kab/Kot']]

harusnya_kota = df['Lokasi'].isin(['KotaJakartaSelatan','KotaJakartaPusat','KotaJakartaUtara','KotaJakartaBarat',
                                   'KotaJakartaTimur','KotaTangerangSelatan','KotaBontang','KotaSurakarta',
                                   'KotaSurabaya','KotaBalikpapan','KotaBandaAceh','KotaPekanbaru','KotaMakassar','KotaDepok',
                                   'KotaPadang'])
df.loc[harusnya_kota,['Lokasi']]= df[harusnya_kota]['Lokasi'].str.lstrip('Kota')

df['Nama_Provinsi']= df['Provinsi'].str.replace(' ','')
df.loc[df['Nama_Provinsi']=='DKIJakarta',['Nama_Provinsi']]= 'JakartaRaya'
df.loc[df['Nama_Provinsi']=='DIYogyakarta',['Nama_Provinsi']]= 'Yogyakarta'

## Menambah kolom durasi magang

In [ ]:
df['durasi_magang'] = (df['end_duration'] - df['start_duration']) / np.timedelta64(1, 'D')

# Mengecek apakah semua data di kolom Kab/Kot sudah sesuai

In [37]:
df[df['Kab/Kot']=='']['location'].unique()

array([], dtype=object)

# Menyimpan hasil cleaning di csv baru

In [38]:
df.to_csv(f'Program Magang Kampus Merdeka Batch 4 ({curr_time})_cleaning.csv',index=False)

# Kodingan di bawah untuk proses selanjutnya jika diperlukan.

In [179]:
search = 'Data'
posisi = df['name'].str.contains(search)

In [180]:
df[posisi]['name'].value_counts().iloc[0:50]

Data Scientist                                                                              9
Data Analyst                                                                                8
Data Support                                                                                4
Data Scientist Intern                                                                       3
Data Processing and Visualization                                                           2
Data Engineer                                                                               2
Data Analyst Intern                                                                         2
Data Collection                                                                             2
Data analytic                                                                               2
Enterprise Data Management Intern                                                           1
Intern HC Database (ATS Project)                                                            1
Estate Database & Analysis Officer                                                          1
Human Capital Database                                                                      1
Infrastructure, Database, Kampung Wisata & Budgeting                                        1
Instruktur Data Science                                                                     1
E-commerce Data Analyst Intern                                                              1
Intern HC Database                                                                          1
Data Quality & Integrity Intern                                                             1
ACAD - Art Collection Data Administrator - Koleksi Keramik & Benda Kayu (Jakarta)           1
Data Management Intern                                                                      1
Marketing Data Analys                                                                       1
Mechanization Data Analyst                                                                  1
Mill Data Analysis Officer                                                                  1
Otomasi Data dan Pelaporan                                                                  1
Pengolah Data Akademik                                                                      1
Pengolah Data Kemahasiswaan                                                                 1
Pengolah Data Pendidik dan Tenaga Kependidikan                                              1
Pengolah/Pengelola Data Perguruan Tinggi                                                    1
People Data Analyst                                                                         1
Product Business Intelligence Data & Analytics                                              1
Production Data Analyst                                                                     1
Safety Data Scientist                                                                       1
Supply Chain Data Analyst                                                                   1
IoT & Big Data Product Intern                                                               1
Data  & Growth Analyst                                                                      1
Data Integrity Intern                                                                       1
Data Integration Analyst                                                                    1
ACAD - Asset and Art Data Administrator - Koleksi Lukisan, Wayang, dan Buku (Jakarta)       1
ACAD - Asset and Art Data Administrator - Koleksi Lukisan, Wayang, dan Buku (Yogyakarta)    1
AI Programmer & Data Science                                                                1
Analis Data dan Laporan Perusahaan Efek, PPE-EBUS dan Mitra Pemasaran PPE                   1
 Analyst : Data Analyst, Data Engineer, Data Scientist                                      1
Assistant Data Analyst Engineer                                                             1
Back End, API, & Database Developer (KG Project)                                            1
Business Analyst / Data Analytics (Development & Augmentation Team)                         1
Business Analyst / Data Analytics (Strategy & Policy Team)                                  1
Conservation Database & Analysis Assistant                                                  1
CVM Data Science & Analytics Intern                                                         1
Data Analis                                                                                 1
Data Analyst & Data Engineer                                                                1
Name: name, dtype: int64

In [ ]:
df = df.rename({'id':'Id','name':'Name','activity_name':'Activity Name','total':'Total','start_duration':'Start Duration',
                         'end_duration':'End Duration','start_registration':'Start Registration',
                         'end_registration':'End Registration','credits_count':'Credits Count','activity_type':'Activity Type',
                         'location':'Location','location_kotakab_code':'Location KotaKab Code','mitra_id':'Mitra Id',
                        'certified':'Certified','logo':'Logo','mitra_name':'Mitra Name'},axis='columns')